[submodule "docs"]
	path = docs
	url = https://github.com/marcioasan/ems-algashop-docs.git
	branch = main
[submodule "microservices/ordering"]
	path = microservices/ordering
	url = https://github.com/marcioasan/ems-algashop-ordering.git
	branch = main
